<!DOCTYPE html>
<html>
  <head>
    <title>New Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/gifs" method="post">
      GIF Theme:
      <input type="text" name="theme" />
      <input type="submit">
    </form>
  </body>
</html>
